<!DOCTYPE html>
<!-- About Section -->
    <section id="about" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-about-subheading text-muted">A little about myself and my web development journey..</h3>
                    <img class="profile-pic" src="/img/olly.jpg" onmouseover="this.src='/img/mouse.jpg';" onmouseout="this.src='/img/olly.jpg';" alt="myself">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h4>How I got into coding</h4>
                  <p class="me">Hello! My name is Olly and I love going beneath the hood to see how things work.
                  At first I applied this natural inquisitiveness with a psychology degree to study people. However, I currently focus it on technology, attempting to go beneath the surface of websites to see how they operate.</p>

                  <p class="me">I take great pleasure from building things (especially with Lego). I enjoy developing with JavaScript, and I am an Angular advocate. I am currently looking pursue my career as a full stack developer. Hopefully in a role where everyday I will be learning new things, and I get the opprtunity to assist in the building of MEAN stack or Ruby based apps that address current world issues. </p>

                  <h4 class="about-me">About Me</h4>

                  <p class="me">I am a keen scuba diver, and have instructor qualifications with PADI </p>
                  <p class="me">I LOVE football, especially Arsenal</p>
                  <p class="me">I watch Rick and Morty, Game of Thrones and Westworld</p>
                  <p class="me">I am an active person, I cycle everyday on mountain bike and when I can, I try an get involved with watersports (wakeboarding, sailing, surfing or canoeing)</p>
                  <p class="me">I like trains - ever since I was a small child. Always prefer steam over todays souless electric trains</p>
               
                </div>
            </div>
        </div>
        <a class="down bounce page-scroll" href="#skills" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
    </section>
