<!DOCTYPE html>
<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-about-subheading text-muted">A little about myself and my web development journey..</h3>
                    <img class="profile-pic" src="/img/olly.jpg" alt="myself">
                </div>
            </div>
            <div class="row">
                <div class=" skillz col-lg-8 col-lg-offset-2">
                  <h4>How I got into coding</h4>
                  <p class="me">I have a natural inquisitiveness, and always try to understand how things work. At first I applied this with a psychology degree to study people. However, I currently focus it on technology, attempting to go beneath the surface of websites to see how they operate.

                  An essential thing I learnt from meeting many different people whilst travelling abroad, was that key to happiness is to pursue something you enjoy.  As someone who enjoys puzzles (I love sudoku!) and tinkering with code, a career in web development I realised, would make me very happy.

                  This strong interest in technology and desire to understand how our modern world works, led me to completing a three month web development immersive course with General Assembly. My eyes have been opened to the possibilities within web development and its real-world applications.

                  Did I mention I love building things? (especially with Lego), I am an Angular advocate and my dream job would be to work as a full stack developer, building MEAN apps that tackle current issues and relevant problems. I am also really enjoy utilizing Ruby/Rails for the backend

                  I am someone who loves puzzles and going beneath the hood to see how things work. Having had taken a few courses on Codecademy and messed around with Raspberry Pi’s, I enjoyed playing with technology and learning new things. But I lacked the confidence in believing I could make a living in technology.
                  However, the essential thing that changed my mind, was through travelling abroad. I met many different people, who showed me that true happiness is all about pursuing something you enjoy. I relish problem solving, so naturally a career in web development I felt realised would make me happy.


                  </p>
                  <p class="me">
                  I would love to pursue my career as a Full Stack Developer and learn new technologies every day.
                  </p>
                  <h4>About Me</h4>
                  <p class="me">I am a keen scuba diver </p>
                  <p class="me">I love football, especially Arsenal</p>
                  <p class="me">I watch Rick and Morty, Game of Thrones and Westworld</p>

                </div>
            </div>
        </div>
    </section>

    <!-- <ul class="timeline">
        <li>
            <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>2009-2011</h4>
                    <h4 class="subheading">Our Humble Beginnings</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>March 2011</h4>
                    <h4 class="subheading">An Agency is Born</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>December 2012</h4>
                    <h4 class="subheading">Transition to Full Service</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>July 2014</h4>
                    <h4 class="subheading">Phase Two Expansion</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image">
                <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
            </div>
        </li>
    </ul> -->
