<!DOCTYPE html>
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Olly Middleton</div>
            <div class="intro-lead-in">Full Stack Web Developer</div>

            <ul class="list-inline social-buttons">
                {% for network in site.social %}
                <li><a href="{{ network.url }}">
                  <i class=" icons fa fa-{{ network.title }}"></i></a>
                </li>
                {% endfor %}
            </ul>
            <a class="down bounce page-scroll" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>

        </div>

    </div>
</header>
