<!-- Services Section -->
    <section id="skills" class="bg-skills">
        <div class="container">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 text-center">
                  <h2 class="section-heading">My Skills</h2>
                  <h3 class="section-subheading text-muted">The technology I have encountered on my web development journey..</h3>
              </div>

              <div class="skillz col-lg-8 col-lg-offset-2">
                  <i class="tech devicon-html5-plain-wordmark colored" title="html5"></i>
                  <i class="tech devicon-css3-plain-wordmark colored" title="html5"></i>
                  <i class="tech devicon-bootstrap-plain-wordmark colored" title="html5"></i>
                  <i class="tech devicon-sass-original colored" title="html5"></i>
                  <i class="tech devicon-gulp-plain colored" title="html5"></i>
              </div>

              <div class="skillz col-lg-8 col-lg-offset-2" title="html5">
                  <i class="tech devicon-javascript-plain colored" title="html5"></i>
                  <i class="tech devicon-jquery-plain-wordmark colored" title="html5"></i>
                  <i class="tech devicon-angularjs-plain colored" title="html5"></i>
                  <i class="tech devicon-nodejs-plain colored" title="html5"></i>
                  <i class="tech devicon-react-original-wordmark colored" title="html5"></i>
              </div>

              <div class="skillz col-lg-8 col-lg-offset-2" title="html5">
                  <i class="tech devicon-ruby-plain colored"></i>
                  <i class="tech devicon-rails-plain-wordmark colored"></i>
                  <i class="tech devicon-express-original-wordmark colored"></i>
                  <i class="tech devicon-mongodb-plain-wordmark colored"></i>
                  <i class="tech devicon-postgresql-plain-wordmark colored"></i>
              </div>

              <div class="skillz col-lg-8 col-lg-offset-2">
                  <i class="tech devicon-mocha-plain colored"></i>
                  <i class="tech devicon-babel-plain colored"></i>
                  <i class="tech devicon-bower-plain colored"></i>
                  <i class="tech devicon-git-plain colored"></i>
                  <i class="tech devicon-github-plain-wordmark colored"></i>
              </div>

              <div class="skillz col-lg-8 col-lg-offset-2">
                  <i class="tech devicon-amazonwebservices-plain-wordmark colored"></i>
                  <i class="tech devicon-atom-original-wordmark"></i>
                  <i class="tech devicon-heroku-original-wordmark colored"></i>
                  <i class="tech devicon-trello-plain-wordmark colored"></i>
                  <i class="tech devicon-slack-plain-wordmark colored"></i>
              </div>
            </div>
          </div>

    </section>

    <!-- <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">E-Commerce</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Responsive Design</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Web Security</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
    </div> -->
