/*
 * Colours *
 */

$primary: #4B939E;
$secondary: #d8f1ff;
$secondary-dark: #333;
$muted: #777;

//  Font Families

$primary_font: 'Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif';
$secondary_font: '"Alpha Slab One", "Helvetica Neue", Helvetica,Arial,sans-serifç';
